html {
	background: #e0e0e0;
	font-family: 'Source Sans Pro', sans-serif;
}


.content, .showcase {
	width: 80%;
	text-align: center;
	margin: 1em auto 3em auto;
	padding-bottom: 2em;
}

.content {
	background: #f3f3f3;
	border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 5px 5px 3px 3px #cdcdcd;
	box-shadow: 5px 5px 3px 3px #cdcdcd;
}

.headline {
	color: #fff;

	margin: 0.5em 0;
	padding: 0.2em 0em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 5em;
	background: #e0e0ff;

	width: 100%;

	background: #bfd255; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
	background: linear-gradient(135deg,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.note {
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 1.8em;
	list-style: none;
	width: 29%;
}

#checklist {
	transform: rotate(-7deg);
	-ms-transform:rotate(-7deg);
	-moz-transform:rotate(-7deg);
	-webkit-transform:rotate(-7deg);
	-o-transform:rotate(-7deg);
	white-space: normal;
}

#checklist2 {
	transform: rotate(7deg);
	-ms-transform:rotate(7deg);
	-moz-transform:rotate(7deg);
	-webkit-transform:rotate(7deg);
	-o-transform:rotate(7deg);
	white-space: normal;
}

.note li:before {
	content: "\2713";
}

img#logo {
/*	margin: 5% auto;*/
	background: #f9f9f9;
	padding: 5%;
	border-radius: 3em;
/*	box-shadow: 3px 3px 3px 3px #ccc; */
	border: solid 3px #ccc;
	width: 30%;
}

p, .intro {
	font-size: 1.5em;
	clear: both;
	margin: 2em;
}

.promo {
	display: inline-table;
 	border: solid 1px #ccc;
	border-radius: 0.5em;
	background: #f9f9f9;
	padding: 1em;
	margin: 0.25em;
	text-align: left;
}

.single.promo {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#central-content {
	vertical-align: middle;
	white-space: nowrap;
}

#central-content img, #central-content ul {
	display: inline-table;
	vertical-align: middle;
}

.promo>pre {
	background: #efefef;
	border: solid 1px #ccc;
}

a {
	font-weight: bold;
	color: #595;
	text-decoration: none;
}

.promo>ul {
	padding-left: 2em;
}

li>pre {
	display: inline;
	background: #efefef;
	border: solid 1px #ccc;
	border-radius: 3px;
}

footer {
	color: #bbb;
	text-align: center;
	margin: 0 auto 1em auto;
}

footer a {
	color: #bbb;
}