@media screen and (max-width: 900px), screen and (max-device-width: 900px) and (orientation: portrait){
	body {
		font-size: 90%;
		background: red;
	}

	.content {
		width: 95%; 
	}

	#logo {
		width: 15%;
	}
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-width: 800px), screen and (max-device-width: 800px) and (orientation: portrait){
	body {
		font-size: 80%
	}
	#central-content {
		text-align: center;

	}

	#central-content ul {
		margin: 1em auto;
		display: block;
		width: 80%;
	}

	#logo {
		width: 70%;
	}

	#checklist {
		transform: rotate(0);
		-ms-transform:rotate(0);
		-moz-transform:rotate(0);
		-webkit-transform:rotate(0);
		-o-transform:rotate(0);
	}

	#checklist2 {
		transform: rotate(0);
		-ms-transform:rotate(0);
		-moz-transform:rotate(0);
		-webkit-transform:rotate(0);
		-o-transform:rotate(0);
	}


	.promo {
		width: 90%;
		font-size: 1.2em;
		display: block;
		margin: 1em auto;
		padding: 1em;
	}
}